.body {
  margin: 0;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.container {
  width: 100vw;
  height: 100vh;
  font-family: 'Quicksand', sans-serif;

  display: grid;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 1fr 1fr 50px;

  gap: 10px;
  padding: 10px;
}

.container .layout {
  padding: 10px;
  border: 1px solid #000000;
}

.header {
  grid-column: 1 / span 3;
  color: whitesmoke;
  background-color: black;
}

.container-long {
  grid-row: 2 / span 2;
}

.container-wide {
  grid-column: 2 / span 2;
}

.footer {
  grid-column: 1 / span 3;
  display: flex;
  justify-content: flex-end;
  font-size: 11px;
  font-weight: lighter;
  font-style: italic;
  border: 0px !important;
}

.title {
  font-weight: bold;
  font-size: 16px;
  margin-top: 0.3em;
  margin-bottom: 0.4em;
}

form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

form input, select {
  margin: 5px 10px 5px 0;
  padding: 5px;
}

form button {
  font-weight: bolder;
  font-size: 12px;
  padding: 7px 11px;
  border: 1px solid #ddd;
  cursor: pointer;
  border-radius: 3px;
}

form button:hover {
  color: #ffffff;
  background-color: #000000;
}

@media (max-width: 800px) {
  form input, select {
     margin: 10px 0;
  }
  form {
     flex-direction: column;
     align-items: stretch;
  }
}

button.add-button, button.remove-button {
  display: inline-flex;
  cursor: pointer;
  outline: none;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  font-size: 16px;
  margin: 4px;
  padding: 3px 8px;
  border: 1px solid #ddd;
  border-radius: 12px;
}

button.add-button:hover {
  color: #ffffff;
  background-color: #5aa355;
}

button.remove-button:hover {
  color: #ffffff;
  background-color: #dd5035;
}

input.inline-input {
  display: inline-flex;
  margin: 10px 5px 5px 15px;
  padding: 5px;
}

div.nutrient-percentage {
  display: inline-flex;
  margin: 8px 0px;
}

div.nutrient-percentage > span {
  margin: 0px 0px 0px 10px;
}

table {
  margin-top: 20px;
  overflow: auto;
}

th, td {
  text-align: start;
  padding-right: 20px;
}

th {
  font-weight: 100;
  background-color: #f2f2f2;
}
